@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

.sniglet-regular {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
}



html * {
    font-family: "Sniglet", system-ui, sans-serif;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    font-size: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

/* Hover effect */
nav a:hover {
    color: #EB97B8;
}

/* Active (current page) link */
nav a.active {
    color: #D76497;
    /* a green highlight */
    font-weight: bold;
    /* make it stand out */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.main-img {
    margin-left: 25%;
    width: 50%;
    grid-row: 1;
    grid-column: 3;
}

.nav-grid {
    grid-row: 2;
    grid-column: 3;

}

.top-block {
    background-color: #F4F8F7;
}

.contact-block {
    display: block;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    background-color: #F4F8F7;
    text-align: center;
    width: 50%;
    margin: 20px auto;
}